/.vscode/*
!/.vscode/settings.json
!/.vscode/tasks.json
!/.vscode/launch.json
!/.vscode/extensions.json

.DS_Store
.env
.env.*
!.env.example
.svelte-kit
.vercel

build
node_modules
out
package
results/lighthouse_pwa.svg
src/assets/template.css
src/assets/template.js
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
